*{
    margin: 0;
    padding: 0;
}
.header, .rodape{
    width: 100%;
    height: 50px;
    background-color: darkgoldenrod;
}
.navbar{
    display: flex;
    list-style: none;
    height: 40px;
}
.navbar li{
    margin: auto;
}
li button{
    cursor: pointer;
    padding: 5px;
}